.idea/
.DS_Store
cmd/godmt/result*.*
cmd/godmt/godmt
cmd/godmt/godmt-freebsd-x86
cmd/godmt/godmt-darwin-x86
cmd/godmt/godmt-linux-x86
cmd/godmt/godmt-freebsd-amd64
cmd/godmt/godmt-darwin-amd64
cmd/godmt/godmt-linux-amd64
result/