.idea/
.DS_Store
cmd/goschemaconverter/result*.*
cmd/goschemaconverter/goschemaconverter
cmd/goschemaconverter/goschemaconverter-freebsd-x86
cmd/goschemaconverter/goschemaconverter-darwin-x86
cmd/goschemaconverter/goschemaconverter-linux-x86